@import "tailwindcss";

@theme {
  /* This is how you config font in v4 */
  --font-sans: "Inter", "system-ui", "sans-serif";
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
  font-feature-settings: "cv11", "ss01";
}
